/*
  I.  Posicionamiento
  II.  Box model
  III.  Tipografia
  IV  Visuales
  V  Otros
*/
/* colores */
/* font families */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header .header__text {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header .header__text h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #ffffff;
}
.header .header__text p {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #FFE9D5;
}
.header .header__text a {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 240px;
  height: 48px;
  background-color: #FAF8F7;
  -webkit-box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
          box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-decoration: none;
  color: #201E1C;
  cursor: pointer;
}
.header .header__text a span {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-left: 12px;
  background-image: url("../assets/short_arrow_down.svg");
  background-position: center;
}

.main {
  width: 100%;
  height: auto;
  background-color: #FAF8F7;
}
.main .exchange-container {
  width: 100%;
  height: auto;
  padding: 80px 0 30px;
  text-align: center;
}
.main .exchange-container .background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("../assets/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .exchange-container__text {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main .exchange-container__text h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #201E1C;
}
.main .exchange-container__text p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main .exchange-container .tables-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main .exchange-container .tables-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000%;
}
.main .exchange-container .tables-container .slider .table-div {
  width: 70vw;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 15vw;
  font-family: "Inter", sans-serif;
}
.main .exchange-container .tables-container .slider .table-div h3 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  text-align: left;
  padding-left: 12%;
}
.main .exchange-container .tables-container .slider .table-div .currency-table__title {
  color: #F7931A;
}
.main .exchange-container .tables-container .slider .table-div .fee-table__title {
  color: #1A9AF7;
}
.main .exchange-container .tables-container .slider .table-div .table {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.main .exchange-container .tables-container .slider .table-div .table table {
  width: 100%;
  height: 100%;
}
.main .exchange-container .tables-container .slider .table-div .table table tr:nth-child(1) .table__left {
  border-radius: 15px 0 0 0;
}
.main .exchange-container .tables-container .slider .table-div .table table tr:nth-child(1) .table__right {
  border-radius: 0 15px 0 0;
}
.main .exchange-container .tables-container .slider .table-div .table table tr:nth-child(4) .table__left {
  border-radius: 0 0 0 15px;
}
.main .exchange-container .tables-container .slider .table-div .table table tr:nth-child(4) .table__right {
  border-radius: 0 0 15px 0;
}
.main .exchange-container .tables-container .slider .table-div .table table td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #BABABA;
  background-color: #ffffff;
}
.main .exchange-container .tables-container .slider .table-div .table table .table__left, .main .exchange-container .tables-container .slider .table-div .table table .table__right {
  padding-left: 16px;
  text-align: left;
}
.main .exchange-container .tables-container .slider .table-div .currency-table__container .table__right span {
  display: inline-block;
  margin-left: 16px;
  width: 18px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .exchange-container .tables-container .slider .table-div .currency-table__container .table__right .trending1 {
  background-image: url("../assets/trending01.svg");
}
.main .exchange-container .tables-container .slider .table-div .currency-table__container .table__right .trending2 {
  background-image: url("../assets/trending02.svg");
}
.main .exchange-container .tables-container .slider .table-div .currency-table__container .table__right .trending3 {
  background-image: url("../assets/trending01.svg");
}
.main .exchange-container .tables-container .slider .table-div .currency-table__container .table__right .trending4 {
  background-image: url("../assets/trending01.svg");
}
.main .exchange-container .tables-container .slider .table-div .fee-table__container table .table__right {
  padding-left: 0;
  text-align: center;
}
.main .exchange-container .tables-container .slider .table-div .currency-table__date,
.main .exchange-container .tables-container .slider .table-div .fee-table__date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
}
.main .exchange-container .tables-container .slider .table-div .currency-table__date p,
.main .exchange-container .tables-container .slider .table-div .fee-table__date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #201E1C;
}
.main .exchange-container .tables-container .slider .table-div .currency-table__date {
  background-color: #FFE9D5;
}
.main .exchange-container .tables-container .slider .table-div .fee-table__date {
  background-color: #E7F5FF;
}
.main .exchange-container .tables-container .slider1btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28px;
  height: 100%;
  font-size: 2.8rem;
  line-height: 2.8rem;
}
.main .exchange-container .tables-container #slider1NextBtn {
  right: 16px;
}
.main .exchange-container .tables-container #slider1PreviousBtn {
  left: 16px;
}
.main .exchange-container .tables-container .btnOff {
  display: none;
}
.main .product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: #201E1C;
}
.main .product-detail .product-detail__logo {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 42px;
  height: 25px;
  background-image: url("../assets/logo03.svg");
  background-size: cover;
}
.main .product-detail .product-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 20px auto 0;
  text-align: center;
}
.main .product-detail .product-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #ffffff;
}
.main .product-detail .product-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.main .product-detail .product-cards .card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  margin: 15px auto;
  padding: 15px;
  background-color: #282623;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.main .product-detail .product-cards .card__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .product-detail .product-cards .card .clock {
  background-image: url("../assets/clock.svg");
}
.main .product-detail .product-cards .card .eye {
  background-image: url("../assets/eye.svg");
}
.main .product-detail .product-cards .card .dollar {
  background-image: url("../assets/dollar-sign.svg");
}
.main .product-detail .product-cards .card .check {
  background-image: url("../assets/check-circle.svg");
}
.main .product-detail .product-cards .card__title {
  margin-bottom: 12px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
}
.main .product-detail .product-cards .card__description {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.main .autofill {
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url("../assets/bitcoinbaby.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .autofill h2 {
  padding-top: 20%;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: #ffffff;
  text-align: center;
}
.main .prices {
  width: 100%;
  height: auto;
  padding: 60px 0 70px;
  overflow: hidden;
  text-align: center;
}
.main .prices__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #201E1C;
}
.main .prices__description {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.main .prices .slider {
  width: auto;
}
.main .prices .slider .price {
  margin: 0 auto;
}