/*
  I.  Posicionamiento
  II.  Box model
  III.  Tipografia
  IV  Visuales
  V  Otros
*/

/* colores */
$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secondary-blue: #1A9AF7;
$soft-blue: #E7F5FF;
$warm-black: #201E1C;
$warm-black-1: #282623;
$warm-black-2: #363636;
$grey: #BABABA;
$grey1: #808080;
$dark-grey: #757575;
$off-white: #FAF8F7;
$just-white: #ffffff;
$linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

/* font families */
$fofa1: 'DM Sans', sans-serif;
$fofa2: 'Inter', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: $fofa1;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: $linear-bg;
    img {
        width: 150px;
        height: 24px;
        margin-top: 60px;
        align-self: center;
    }
    &__text {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        margin-top: 40px;
        text-align: center;
        align-self: center;
        h1 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: $just-white;
        }
        p {
            margin-top: 20px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: $soft-orange;
        }
        a {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            display: block;
            margin-top: 35px;
            padding: 15px;
            width: 240px;
            height: 48px;
            background-color: $off-white;
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            border: none;
            border-radius: 4px;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.8rem;
            text-decoration: none;
            color: $warm-black;
            cursor: pointer;
            span {
                display: inline-block;
                width: 14px;
                height: 12px;
                margin-left: 12px;
                background-image: url('../assets/short_arrow_down.svg');
                background-position: center;
            }
        }
    }
}

.main {
    width: 100%;
    height: auto;
    background-color: $off-white;
    .exchange-container {
        width: 100%;
        height: auto;
        padding: 80px 0 30px;
        text-align: center;
        .background-img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-bottom: 50px;
            background-image: url('../assets/bitcoin.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &__text {
            width: 90%;
            min-width: 288px;
            max-width: 900px;
            margin: 0 auto;
            h2 {
                margin-bottom: 30px;
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: $warm-black;
            }
            p {
                margin-bottom: 30px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.6rem;
                color: $dark-grey;
            }
        }
        .tables-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            .slider {
                display: grid;
                grid-template-columns: repeat(2, 100vw);
                transition: all 0.4s;
                .table-div {
                    width: 70%;
                    min-width: 235px;
                    max-width: 500px;
                    height: 360px;
                    margin: 0 auto;
                    font-family: $fofa2;
                    h3 {
                        margin-bottom: 15px;
                        font-size: 1.8rem;
                        font-weight: bold;
                        line-height: 2.3rem;
                        text-align: left;
                        padding-left: 12%;
                    }
                    .currency-table__title {
                        color: $bitcoin-orange;
                    }
                    .fee-table__title {
                        color: $secondary-blue;
                    }
                    .table {
                        width: 90%;
                        min-width: 230px;
                        max-width: 300px;
                        height: 250px;
                        margin: 0 auto;
                        table {
                            width: 100%;
                            height: 100%;
                            tr {
                                &:nth-child(1) {
                                    .table__left {border-radius: 15px 0 0 0}
                                    .table__right {border-radius: 0 15px 0 0}
                                }
                                &:nth-child(4) {
                                    .table__left {border-radius: 0 0 0 15px}
                                    .table__right {border-radius: 0 0 15px 0}
                                }
                            }
                            td {
                                width: 50%;
                                font-size: 1.6rem;
                                font-weight: 500;
                                line-height: 1.9rem;
                                color: $grey;
                                background-color: $just-white;
                            }
                            .table__left, .table__right {
                                padding-left: 16px;
                                text-align: left;
                            }
                        }
                    }
                    .currency-table__container {
                        .table__right {
                            span {
                                display: inline-block;
                                margin-left: 16px;
                                width: 18px;
                                height: 14px;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                            .trending1 {background-image: url('../assets/trending01.svg')}
                            .trending2 {background-image: url('../assets/trending02.svg')}
                            .trending3 {background-image: url('../assets/trending01.svg')} 
                            .trending4 {background-image: url('../assets/trending01.svg')} 
                        }
                    }
                    .fee-table__container {
                        table {
                            .table__right {
                                padding-left: 0;
                                text-align: center;
                            }
                        }
                    }
                    .currency-table__date,
                    .fee-table__date {
                        width: 190px;
                        height: 30px;
                        margin: 0 auto;
                        margin-top: 15px;
                        padding: 8px;
                        border-radius: 8px;
                        p {
                            font-size: 1.2rem;
                            line-height: 1.5rem;
                            color: $warm-black;
                        }
                    }
                    .currency-table__date {background-color: $soft-orange;}
                    .fee-table__date {background-color: $soft-blue;}
                }
            }
            .slider1btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 28px;
                height: 100%;
                font-size: 2.8rem;
                line-height: 2.8rem;
            }
            #slider1NextBtn {right: 16px}
            #slider1PreviousBtn {left: 16px}
            .btnOff {
                display: none;
            }
        }
    }
    .product-detail {
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 20px 10px;
        background-color: $warm-black;
        &__logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 42px;
            height: 25px;
            background-image: url('../assets/logo03.svg');
            background-size: cover;
        }
        &__title {
            width: 90%;
            min-width: 288px;
            height: auto;
            margin: 20px auto 0;
            text-align: center;
            h2 {
                margin-bottom: 20px;
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: $just-white;
            }
            p {
                margin-bottom: 20px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
                color: $grey1;
            }
        }
        .product-cards {
            .card {
                width: 90%;
                min-width: 288px;
                max-width: 400px;
                margin: 15px auto;
                padding: 15px;
                background-color: $warm-black-1;
                border-radius: 6px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.16);
                &__icon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-bottom: 10px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .clock {background-image: url('../assets/clock.svg')}
                .eye {background-image: url('../assets/eye.svg')}
                .dollar {background-image: url('../assets/dollar-sign.svg')}
                .check {background-image: url('../assets/check-circle.svg')}
                &__title {
                    margin-bottom: 12px;
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $just-white;
                }
                &__description {
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.8rem;
                    color: $grey1;
                }
            }
        }
    }
    .autofill {
        position: relative;
        width: 100%;
        min-width: 320px;
        height: 60vh;
        background-image: url('../assets/bitcoinbaby.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        h2 {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40%;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: $just-white;
            text-align: center;
        }
    }
    .prices {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 60px 0 70px;
        overflow: hidden;
        text-align: center;
        background-color: $off-white;
        &__title {
            width: 90%;
            min-width: 288px;
            height: auto;
            margin: 0 auto;
            font-size: 2.4rem;
            font-weight: bold;
            line-height: 2.6rem;
            color: $warm-black;
        }
        &__description {
            width: 85%;
            min-width: 288px;
            height: auto;
            margin: 12px auto 48px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: $dark-grey;
        }
        .slider2container {
            display: flex;
            align-items: center;
            width: 230px;
            overflow: hidden;
            height: 270px;
            .slider{
                display: grid;
                position: relative;
                grid-template-columns: repeat(3, 230px);
                align-items: center;
                height: 100%;
                .price {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    width: 60%;
                    min-width: 200px;
                    height: 250px;
                    margin: 0 auto;
                    background-color: $just-white;
                    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
                    border-radius: 8px;
                    .Recomendado {
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $fofa2;
                        font-size: 1.2rem;
                        font-weight: 700;
                        padding: 8px;
                        text-align: center;
                        color: $just-white;
                        background-color: $bitcoin-orange;
                        border-radius: 8px;
                    }
                    .about-price {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        position: relative;
                        height: 90%;
                        &__type {
                            font-size: 1.4rem;
                            font-weight: 500;
                            line-height: 1.8rem;
                        }
                        &__amount {
                            position: relative;
                            font-family: $fofa2;
                            font-size: 5.2rem;
                            font-weight: 700;
                            line-height: 6.3rem;
                            span {
                                display: inline-block;
                                position: absolute;
                                top: 6px;
                                transform: translateX(-100%);
                                font-size: 1.2rem;
                                line-height: 1.4rem;
                                color: $warm-black-2;
                            }
                        }
                        &__saving {
                            font-family: $fofa2;
                            font-size: 1.2rem;
                            font-weight: 500;
                            line-height: 1.5rem;
                            color: $dark-grey;
                        }
                        &__choose {
                            width: 75%;
                            height: 52px;
                            margin: 0 auto;
                            font-size: 1.4rem;
                            font-weight: 700;
                            line-height: 3rem;
                            color: $warm-black;
                            background-color: $off-white;
                            border: 2px solid $bitcoin-orange;
                            border-radius: 4px;
                            span {
                                display: inline-block;
                                width: 24px;
                                height: 24px;
                                margin-left: 6px;
                                margin-bottom: -6px;
                                background-image: url(../assets/arrow-right.svg);
                                background-repeat: no-repeat;
                                background-size: cover;

                            }
                        }
                    }
                }
            }
        }
        .slider2btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 62%;
            transform: translateY(-50%);
            width: 40px;
            height: 50%;
            font-size: 2.8rem;
            line-height: 2.8rem;
            color: grey;
        }
        #slider2NextBtn {right: 4%}
        #slider2PreviousBtn {left: 4%}
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
    background-color: $bitcoin-orange;
    &-nav {
        .menu {
            list-style: none;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            &__item {
                margin: 8px 0;
                .menu__link {
                    text-decoration: none;
                    color: $just-white;
                }
            }
        }
    }

}

