/*
  I.  Posicionamiento
  II.  Box model
  III.  Tipografia
  IV  Visuales
  V  Otros
*/

/* colores */
$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secondary-blue: #1A9AF7;
$soft-blue: #E7F5FF;
$warm-black: #201E1C;
$warm-black-1: #282623;
$grey: #BABABA;
$off-white: #FAF8F7;
$just-white: #ffffff;
$linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

/* font families */
$fofa1: 'DM Sans', sans-serif;
$fofa2: 'Inter', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: $fofa2;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: $linear-bg;
    img {
        width: 150px;
        height: 24px;
        margin-top: 60px;
        align-self: center;
    }
    .header__text {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        height: 218px;
        margin-top: 40px;
        text-align: center;
        align-self: center;
        h1 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: $just-white;
        }
        p {
            margin-top: 20px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: $soft-orange;
        }
        a {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 270px;
            display: block;
            margin-top: 35px;
            padding: 15px;
            width: 240px;
            height: 48px;
            background-color: $off-white;
            box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
            border: none;
            border-radius: 4px;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.8rem;
            text-decoration: none;
            color: $warm-black;
            cursor: pointer;
            span {
                display: inline-block;
                width: 14px;
                height: 12px;
                margin-left: 12px;
                background-image: url('../assets/short_arrow_down.svg');
                background-position: center;
            }
        }
    }
}

.main {
    width: 100%;
    height: auto;
    background-color: $off-white;
    .exchange-container {
        width: 100%;
        height: auto;
        padding: 80px 0 30px;
        text-align: center;
        &__text {
            width: 90%;
            min-width: 288px;
            max-width: 900px;
            margin: 0 auto;
        }
    }
}

